cd # Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build
build/
!build/.gitkeep

# Output files
build/out/

# CLion
*.idea
cmake-build-debug

# VSCode
.vscode/
out
build/cmake_install.cmake
build/cmake_install.cmake
build/cmake_install.cmake
build/cmake_install.cmake
build/cmake_install.cmake
build/cmake_install.cmake
build/CMakeCache.txt
build/cmake_install.cmake
build/CMakeCache.txt
build/DG_FM
build/install_manifest.txt
build/*
build/src/*
Settings PP N 2 BBM 2.txt
Settings PP N 2 BBM 7.txt
Ausarbeitung/Ausarbeitung_Vohwinkel_LDG_HBL.pdf
Ausarbeitung/Ausarbeitung_Vohwinkel_LDGFE_HBL.pdf
Ausarbeitung/chapter1.log
Ausarbeitung/chapter1.tex
Ausarbeitung/chapter2.log
Ausarbeitung/chapter2.tex
Ausarbeitung/PorousMediumLDG.aux
Ausarbeitung/PorousMediumLDG.bbl
Ausarbeitung/PorousMediumLDG.blg
Ausarbeitung/PorousMediumLDG.log
Ausarbeitung/PorousMediumLDG.synctex.gz
Ausarbeitung/Refrences/10.1007_s10915-008-9223-7-citation.ris
